* {
  font-family: "HackNerdFontMono";
  font-size: 24px;
  border: none;
  min-height: 0;
  font-weight: 500;
  background: transparent;
}

window#waybar {
  background-color: rgba(36, 36, 52, 1.0);
}

#waybar {
  all:unset;
  min-width: 0;
  border: none;
}

#waybar.hidden {
  opacity: 0.5;
}

.modules-left {
  background-color: rgba(49, 49, 71, 1.0);
  margin: 15px;
  border-radius: 5px;
}

.modules-right {
  background-color: rgba(49, 49, 71, 1.0);
  margin: 15px;
  padding: 5px 0px;
  border-radius: 5px;
}

#battery,
#pulseaudio,
#backlight,
#network,
#cpu,
#custom-temperature {
  padding: 5px 0px;
}

#clock {
  font-size: 35px;
  background-color: rgba(49, 49, 71, 1.0);
  border-radius: 5px;
  padding: 6px 6px;
  margin: 0px 10px;
}

#workspaces button {
  color: #F8F8F2;
  border-radius: 5px;
  /* border-radius: 0px 5px 5px 0px; */
}

#workspaces button.focused {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.current_output {
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  border-color: #bd93f9;
}

tooltip {
  border-radius: 8px;
  font-size: 16px;
  padding: 16px;
  background-color: #131822;
  color: #C0C0C0;
}

tooltip label {
  padding: 5px;
  font-size: 16px;
  background-color: #131822;
  color: #C0C0C0;
}
